# Python
__pycache__/
*.pyc
*.pyo

# Virtual enviroment
.env/
env/

# Freqtrade data
user_data/data/
user_data/
user/data/logs/
user_data/backtest_results/
user_data/hyperopt/results/

# Secrets
*.json
!config*.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
